@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #fcdc9d;
  --secondary: #84d6e8;
  --lighter: #ffffff;
  --darker: #222;
}

hr{
  color: var(--lighter);
  border: 1; /* Remove default border */
  background-color: #3498db; /* Set the color of the <hr> */
  width: 100%; /* Set the width of the <hr> */
  /* margin: 12px auto; */
}



body{
 background-color:var(--darker);
 color: whit;
}

a{
  font-size: large;
  font-weight: 500;
}

a:hover{
  color :var(--secondary);
}

h1{
  color: var(--secondary);
  font-size: 4rem;
  line-height:  1.2;
  font-weight: 800;
}
h2{
  color: var(--lighter);
  font-size: large;
  line-height: 1px;
  font-weight: 600;
}

p{
  color: var(--lighter);
}

span{
  color: var(--primary);
}

#learn:hover .learnmore{
  color: var(--darker);
}

#btn>.a:hover{
  color: var(--darker) ;
}

#btn:hover .btn{
  color: var(--darker);
}




@media screen and (max-width: 768px) {
  h1{
    font-size:30px;
  }
  
}

