@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #fcdc9d;
  --secondary: #84d6e8;
  --lighter: #ffffff;
  --darker: #222;
}


body{
 background-color:var(--darker);
 color: whit;
}

a{
  font-size: large;
  font-weight: 500;
}

a:hover{
  color :var(--secondary);
}